[Unit]
Description=Greenclip Daemon
After=graphical.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/greenclip daemon
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
