[Unit]
Description=Picom rounded
After=graphical.target

[Service]
Environment=DISPLAY=:0
ExecStart=/home/lucas/bin/picom-rounded --experimental-backends
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
