[Unit]
Description=Redshift
After=graphical.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/redshift -c /home/lucas/.config/redshift/redshift.conf
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
