priority 1

snippet mit "MIT license" b
The MIT License ([MIT](https://${1:`git config github.user`}.mit-license.org/${2:`date +%Y`}))

Copyright (c) ${3:`git config user.name`}
endsnippet

snippet lnk "link"
[$1]($2)
endsnippet

snippet img "image tag"
![${1:screenshot}]($2)
endsnippet

snippet cb "Fenced Code Block" b
\`\`\`$1
$2
\`\`\`
endsnippet

snippet fm "Frontmatter for Obsidian" b
---
title: $1
source: manual
author: Lucas Burns
created: `date +%Y-%m-%d`
group: $2
tags: [$3]
uid: `!p if not snip.c: import uuid; snip.rv = str(uuid.uuid4())`
status: active
unfinished: true
---
endsnippet

snippet fmd "Frontmatter for Obsidian" b
---
title: $1
source: manual
author: Lucas Burns
created: `date +%Y-%m-%d`
description: $4
group: $2
tags: [$3]
uid: `!p if not snip.c: import uuid; snip.rv = str(uuid.uuid4())`
status: active
unfinished: true
---
endsnippet
