/* NOTE: I created this with DarkReader also on at the same time
*        I was not aware of that until after I was nearly completed.
*        I will fix that later on
*/
:root {
  --page-bg: #2e1e2a !important;
  --post-bg: #301822 !important;
  --text-lpink: #efade4 !important;
  --text-red: #ef1d55 !important;
  --text-body: #d3869b !important;
  --text-link: #9797c7 !important;
  --text-code: #a88085 !important; /* code-block, pretty-print */
  --border: #7eb2b1 !important; /* border, link-hover */
  --green: #819c3b !important; /* border-focus, green-text */

  --alt-bg: #1d1e2a !important;
  --header-bg: #1a1b26 !important;
  --main-text: #ccc !important;
  --secondary-text: #74857c !important; /* name >text and quote */
  --title-text: #b294bb !important; /* board title */
}

body {
  margin-top: 5px;
  margin-right: 0;
  margin-left: 0;
  padding-left: 5px;
  background: var(--page-bg);
  color: var(--text-body);
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
}
.thumb {
  border-radius: 7px;
}
div#ctrl-top.desktop {
  color: #ff9500;
}
td {
  color: var(--text-lpink);
}
.c-thread img {
  border-radius: 10px;
}
.top-box {
  background: #e3d1df;
}
.boxbar {
  border-radius: 10px;
  background: #e5869c;
}
.box-top {
  border-radius: 10px;
}
.box-outer {
  border-radius: 10px;
}
.teaser {
  text-shadow: 0 0 5px rgb(0 0 0 / 10%);
}
.stub {
  margin-top: 13px;
}
hr {
  border-top: 1px solid #783a65;
}
/* .button { */
/*   display: inline-block; */
/*   padding: 0.75rem 1.25rem; */
/*   border-radius: 10rem; */
/*   color: #fff; */
/*   text-transform: uppercase; */
/*   font-size: 1rem; */
/*   letter-spacing: 0.15rem; */
/*   transition: all 0.3s; */
/*   position: relative; */
/*   overflow: hidden; */
/*   z-index: 1; */
/* } */
/* .button::after { */
/*   content: ''; */
/*   position: absolute; */
/*   bottom: 0; */
/*   left: 0; */
/*   width: 100%; */
/*   height: 100%; */
/*   background-color: var(--text-code); */
/*   border-radius: 10rem; */
/*   z-index: -2; */
/* } */
/* .button::before { */
/*   content: ''; */
/*   position: absolute; */
/*   bottom: 0; */
/*   left: 0; */
/*   width: 0%; */
/*   height: 100%; */
/*   background-color: darken(var(--text-code), 15%); */
/*   transition: all 0.3s; */
/*   border-radius: 10rem; */
/*   z-index: -1; */
/* } */
/* .button:hover { */
/*   color: #fff; */
/* } */
/* .button:hover::before { */
/*   width: 100%; */
/* } */
.yotsuba_new .postMenuBtn,
.futaba_new .postMenuBtn {
  color: var(--text-link);
}
.warning {
  color: #b7117c;
}
.unread-line {
  border-color: #b7117c;
  border-width: medium;
  margin-top: 9px;
  margin-bottom: 4px;
}
div.post div.postInfo span.postNum a {
  color: #f5d5ef;
}
div#boardNavDesktop a {
  color: var(--text-link);
}
div.pagelist strong {
  color: var(--text-lpink);
}
div#boardNavDesktopFoot a {
  color: var(--text-lpink);
}
.c-teaser {
  color: #b74766;
}
.c-board {
  color: #cb69ad;
}
h3 {
  color: #cb69ad;
}
a {
  color: var(--text-link);
}
.nwsb {
}
.adg-rects {
  margin: 10px 0;
}
.adg,
.adg-m {
}
.adg-rep .adg {
}
.adp-228 {
  margin: auto;
  width: 728px;
}
.adp-90 {
  margin: auto;
  width: 728px;
}
.adp-128 {
  margin: auto;
  width: 728px;
}
.adp-j {
  margin: auto;
  width: 728px;
}
.adp-50 {
  margin: auto;
  width: 320px;
}
.adp-250 {
  margin: auto;
  width: 300px;
}
.adp-row {
  display: inline-block;
}
.adl {
}
.adl + .ad-bgls,
.ad-bgls + .adl {
}
.bsa-cnt {
  margin: 20px 0;
  height: 90px;
}
@media only screen and (max-width: 640px) {
  .bsa-cnt {
    display: flex;
    justify-content: center;
    height: 250px;
  }
}
hr#op,
#ctrl-top {
}
.party-hat {
  position: absolute;
  left: 0;
  margin-top: -80px;
}
.sjis,
#quickReply .sjis {
  display: block;
  overflow: auto;
  line-height: 17px;
  white-space: pre;
  font-family: ipamonapgothic, mona, ms pgothic, monospace;
  font-size: 16px;
}
.tex-logo {
}
.tex-logo sub {
  font-size: 0.8em;
}
.sjis,
#quickReply .sjis {
  font-size: 16px;
  line-height: 17px;
  white-space: pre;
  font-family: 'IPAMonaPGothic', 'Mona', 'MS PGothic', monospace;
  overflow: auto;
  display: block;
  clear: left;
}
.tex-logo {
  font-size: 0.8em;
}
.tex-logo sub {
  font-size: 0.8em;
  text-transform: uppercase;
}
.mu-s {
  font-weight: bold;
}
.mu-i {
  font-style: italic;
}
.mu-r {
}
.mu-g {
}
.mu-b {
}
.pu-lbl {
  color: #117743;
  font-weight: 700;
}
.pu-img {
  display: inline-block;
  margin-top: -3px;
  margin-right: 3px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.n-pu,
.n-jol {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.n-pu {
  background: url(https://s.4cdn.org/image/1f383.png);
  -webkit-filter: drop-shadow(0 0 6px #e5869c) brightness(125%);
}
.n-jol {
}
.n-jol-1 {
  -webkit-filter: drop-shadow(0 0 4px #e5869c);
}
.n-jol-2 {
  -webkit-filter: drop-shadow(0 0 4px #e5869c) brightness(115%);
}
.n-jol-3 {
  -webkit-filter: drop-shadow(0 0 6px #e5869c) brightness(120%);
}
.n-jol-4 {
  -webkit-filter: drop-shadow(0 0 8px #e5869c) brightness(130%);
}
.n-jol-5 {
  -webkit-filter: drop-shadow(0 0 8px #e5869c) brightness(150%);
}
.n-jol-6 {
  -webkit-filter: drop-shadow(0 0 10px #e5869c) brightness(175%);
}
.jla-it {
  height: 420px;
}
.jla-it-p {
  font-size: 0.85em;
}
.twtdisc {
}
@media only screen and (max-width: 700px) {
  .jla-it {
    width: 340px;
    height: 220px;
  }
  .jla-it img {
    width: 340px;
  }
}
#fourchanx-settings,
:root.catalog-hover-expand .catalog-container:hover > .catalog-post {
  background-color: #212121 !important;
  box-shadow: 2px 2px 2px #171717;
  border-color: #262626 !important;
}
:root .suboption-list > div:last-of-type {
  background-color: transparent !important;
}
.centeredThreads .party-hat {
}
#disclaimer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}
#disclaimer-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#disclaimer-modal {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  z-index: 9999;
  margin-left: -170px;
  background-color: #e3d1df;
  padding: 10px;
  width: 320px;
}
#disclaimer ol {
  margin-left: 20px;
}
#disclaimer li {
}
#disclaimer h3 {
  margin: 0;
  border-bottom: 1px solid #d9bfb7;
  padding-bottom: 5px;
}
#disclaimer-modal div {
  margin-top: 10px;
}
#disclaimer-modal button {
}
#disclaimer-accept {
}
#footer-links {
}
.isMobileDevice blockquote.postMessage {
}
.belowLeaderboard {
  width: 728px;
}
.aboveMidAd {
  width: 468px;
}
#captchaContainerAlt {
}
#captchaContainerAlt .recaptcha_image_cell {
}
#captchaContainerAlt #recaptcha_table {
}
#captchaContainerAlt #recaptcha_response_field {
  width: 300px !important;
}
#qrCaptchaContainerAlt #recaptcha_response_field {
}
#captchaContainerAlt #recaptcha_image,
#qrCaptchaContainerAlt #recaptcha_image {
}
#qrCaptchaContainerAlt .recaptcha_image_cell {
}
#qrCaptchaContainerAlt #recaptcha_table {
}
#captchaContainerAlt td:nth-child(2),
#captchaContainerAlt td:nth-child(3),
#qrCaptchaContainerAlt td:nth-child(2),
#qrCaptchaContainerAlt td:nth-child(3) {
}
#qrCaptchaContainerAlt {
  height: 80px;
}
#qr {
  background-color: var(--post-bg);
  border-radius: 3px !important;
  border-color: var(--border) !important;
  border-width: 2px;
  margin: 5px;
}
/* Quick Reply checkbox */
div#qr.dialog.has-spoiler.show-new-thread-option.has-captcha.captcha-t
  div.move
  label {
  float: right !important;
  margin: 0 7px 0 0 !important;
}
#qr select {
  /* Still reply box but it's the drop down menu */
  border-color: transparent !important;
  border-radius: 1px !important;
  background-color: var(--post-bg) !important;
  float: left !important;
  margin-left: 5px !important;
  width: 182.5px !important;
}
#qr form,
#qr .move {
  background-color: var(--post-bg) !important;
}
/* Still reply box but it's the text field (in general) */
#qr .field,
#qr #t-resp {
  background-color: var(--post-bg);
  border-radius: 3px !important;
  border-color: var(--border) !important;
  border-width: 1px;
}
#qr .textarea .field {
  margin: auto;
  width: 325px;
  height: 150px;
}
#qr .field:focus,
#qr #t-resp:focus {
  border-radius: 3px !important;
  border-color: var(--green) !important;
  border-width: 2px;
}
#qr-filename-container,
#qr-file-button,
#file-n-submit input {
  border-radius: 3px !important;
  border-color: var(--border) !important;
  border-width: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
}
#qr-filename-container {
  height: 25px;
}
#qr-file-button,
#file-n-submit input {
  margin: 3px 1px 3px;
}
#qr-filename-container:hover,
#qr-file-button:hover,
#file-n-submit input:hover {
  color: #957fb8;
  font-weight: bold;
  border-radius: 3px !important;
  border-color: var(--green) !important;
  border-width: 2px;
}
#qr-no-file {
  color: var(--text-red);
}
#qr .captcha-container {
  margin-top: 2px;
}
/* Captcha background */
.captcha-container {
  background-color: var(--post-bg);
}
div.captcha-container > button {
  background-color: var(--post-bg);
}
button#t-load {
  border-radius: 3px !important;
  border: 2px solid var(--border);
  margin-left: 5px;
}
button#t-load:hover {
  color: #957fb8;
  font-weight: bold;
  border-radius: 3px !important;
  border-color: var(--green) !important;
  border-width: 2px;
}
#captchaContainer > img {
  float: left;
  border: 1px solid #aaa;
}
#captchaInfo {
  float: left;
  margin-left: 5px;
}
#captchaResponse {
}
/* TODO: MAYBE CHANGE */
#recaptcha_response_field:not(:focus) {
  border-color: var(--text-red);
  border: 2px;
  border-radius: 4px;
}
.recaptchatable {
  background-color: transparent !important;
}
.recaptcha_image_cell {
}
#g-recaptcha {
}
#recaptcha_div {
  height: 107px;
}
#recaptcha_challenge_field {
}
.recaptcha_input_area {
}
#recaptcha_table tr:first-child {
}
#recaptcha_table tr:first-child > td:not(:first-child) {
}
#recaptcha_table tr:last-child td:last-child {
}
#recaptcha_table tr:last-child td:first-child {
}
#recaptcha_image {
}
#recaptcha_response_field {
}
input:-moz-placeholder {
}
#recaptcha_table tr > td:last-child {
}
#captchaContainer {
  width: 343px;
  height: 86px;
  line-height: 99px;
}
#captchaContainer .placeholder {
  font-style: italic;
}
.mobile,
.mobileinline,
.mobileib {
}
a,
a:visited {
  color: var(--text-link);
}
div.board > hr {
  margin-top: 10px;
}
img {
}
img.topad,
.topad > div,
.topad a img {
  width: 728px;
  max-width: 100%;
  height: 90px;
  overflow: hidden;
}
img.middlead,
.middlead > div,
.middlead a img {
  width: 468px;
  max-width: 100%;
  height: 60px;
  overflow: hidden;
}
img.bottomad,
.bottomad > div,
.bottomad a img {
  width: 728px;
  max-width: 100%;
  height: 90px;
  overflow: hidden;
}
img.chan-media-item {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 60%);
  margin-left: 10px;
  margin-right: 10px;
}
hr {
  border: 0;
  border-bottom: 1px solid #96b4aa;
  height: 1px;
}
span.x-small {
}
.painter-ctrl input[type='text'],
#qr-painter-ctrl input[type='text'] {
  width: 30px !important;
}
#qr-painter-ctrl .oe-r-cb {
}
#oe-canvas-preview {
  position: absolute;
  margin-top: 3px;
  margin-left: 5px;
}
.mobile {
}
ul.rules {
  margin: 0;
  padding: 0;
}
ul.rules > li {
  list-style: none;
}
.rules > li:before {}
div.boardBanner {
  text-align: center;
}
#bannerCnt {
  margin: 5px auto;
  border: 1px solid #800;
  width: 300px;
  height: 100px;
}
div.boardBanner> div.boardTitle {
  letter-spacing: -1.5px;
  font-family: 'Segoe UI', SANS-SERIF;
  font-size: 28px;
  font-weight: 900;
  color: var(--text-lpink);
  padding-top: 5px;
}
quote-preview {
  background: #e3d1df;
  color: var(--text-lpink);
}
div.boardBanner > div.boardSubtitle {
}
div#boardNavDesktop {
  color: transparent;
  font-size: 9pt;
}
.hasDropDownNav #navtopright {
}
#boardNavDesktop .pageJump {
}
#boardNavDesktop .pageJump a {
}
div#boardNavDesktop a {
  padding: 1px;
  font-weight: 400;
}
div.pContainer {
}
div.opContainer {
}
div.sideArrows {
  float: left;
  margin-top: 0;
  margin-right: 2px;
  color: #819c3b;
}
div.thread {
  margin: 0;
}
div.post {
  margin: 4px 0;
}
div.thread > div:nth-of-type(2) > div.reply {
}
div.op {
}
div.reply {
  display: table;
  /* background-color: #261e37; */
  /* box-shadow: 0px 2px 5px rgb(0 0 0 / 30%); */
  background: var(--post-bg);
  border-radius: 4px;
  border: 1px solid rgba(211, 160, 181, 0.4);
  margin-bottom: -6px;
  border-left: none;
  border-right: 2px solid;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #b54788;
  word-wrap: normal;
}
div.reply input {
}
div.post div.postInfo {
  display: block;
}
div.post div.postInfo span.postNum {
}
div.post div.postInfo span.postNum a {
}
div.post div.postInfo span.postNum a:hover,
.posteruid .hand:hover {
}
div.post div.postInfo span.nameBlock {
}
div.post div.postInfo span.nameBlock span.name {
  color: #7e82cc;
}
div.post div.postInfo span.nameBlock span.postertrip {
}
div.post div.postInfo span.date {
}
div.post div.postInfo span.time {
}
div.post div.postInfo span.subject {
}
div.post blockquote.postMessage {
}
blockquote > span.quote {
}
.quoteLink,
.quotelink,
.deadlink,
.pageJump a {
}
a:hover .burichan_new .backlink a,
.yotsuba_b_new .backlink a,
.quoteLink,
.quotelink,
.deadlink,
a.replylink:not(:hover),
div#absbot a:not(:hover) {
  color: #6585cb !important;
}
.is_arclist .belowLeaderboard {
}
#arc-list {
  max-width: 80%;
}
#arc-list td {
}
#arc-list .teaser-col {
  text-align: left;
}
#arc-sort {
  border-bottom: 1px dotted;
}
div.post div.file {
}
div.post div.file div.fileInfo {
  margin-right: 10px;
}
div.replyContainer div.post div.file div.fileInfo {
}
div.post div.file .fileThumb {
  float: left;
  margin-top: 3px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
}
span.fileThumb {
  margin-left: 0 !important;
}
div.reply span.fileThumb,
div.reply span.fileThumb img {
  float: none !important;
  margin-top: 0 !important;
}
div.post div.file .fileThumb img {
  border: none;
}
span.summary {
  color: #707070;
}
div.postingMode {
  background-color: #e04000;
  padding: 1px;
  text-align: center;
  color: #120c20;
  font-size: larger;
  font-weight: 700;
}
#verification table {
  border: none !important;
}
div.thread:last-child {
  padding-bottom: 21px;
}
div.pagelist strong {
  color: var(--text-lpink);
}
div.pagelist {
  float: left;
  margin: 0;
  border: none;
  border-right: 1px solid #d9bfb7;
  border-bottom: 1px solid #d9bfb7;
  background: #120c20;
  padding: 3px 7px;
  overflow: hidden;
  list-style: none;
  font-size: 13px !important;
}
div.pagelist > div {
}
div.pagelist > div span {
  padding: 4px;
}
div.pagelist div.pages {
}
div.pagelist div.pages a {
}
div.pagelist form {
}
div.pagelist div.cataloglink {
}
.bottomCtrl {
  float: right;
}
input[type='password'] {
  width: 50px;
}
div.deleteform input[type='checkbox'] {
}
.stylechanger {
  margin-left: 5px;
}
div#boardNavDesktopFoot {
  clear: both;
  padding-top: 10px;
  color: transparent;
  font-size: 9pt;
}
div#boardNavDesktopFoot a {
  padding: 1px;
  font-weight: 400;
}
div.homelink {
}
div#absbot {
  padding-top: 10px;
  padding-bottom: 4px;
  text-align: center;
  font-size: x-small !important;
}
table {
  margin-left: auto;
  border-spacing: 1px;
}
tr.rules td {
  border: 0 !important;
  background-color: transparent !important;
}
td {
}
.postblock {
  padding: 0 5px;
  font-weight: 700;
  color: #838383;
  border-color: #272727;
}
div.closed {
  padding-top: 100px;
  text-align: center;
  color: red;
  font-size: x-large;
  font-weight: 700;
}
.arc-ads {
  width: 300px;
}
.arc-ads::after {
  display: block;
  content: '';
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  tbody textarea {
    margin-bottom: -3px !important;
  }
}
.commentpostername {
}
.identityIcon {
  margin-bottom: -3px;
  height: 16px;
}
.stickyIcon {
  margin-bottom: -1px;
  padding-left: 2px;
  height: 16px;
}
.archivedIcon,
.closedIcon {
  margin-bottom: -1px;
  margin-left: -1px;
  height: 16px;
}
.trashIcon {
  width: 16px;
  height: 16px;
}
.fileDeleted {
  height: 13px;
}
.fileDeletedRes {
  height: 13px;
}
.navSmall {
}
.center {
}
.bold {
}
.smaller {
}
.password {
}
.passNotice {
  font-size: smaller;
}
.qcDiv {
}
.qcImg {
  width: 1px;
  height: 1px;
}
.jpnFlag {
  height: 11px;
}
.globalMessage {
  color: var(--text-red);
}
.highlightPost:not(.op) {
  background: #f0d6d6 !important;
}
.reply:target,
.reply.highlight {
  border: none;
  box-shadow: 0 0 4px 1px #a06469;
  background: #483b58 !important;
}
.hand {
}
.nameBlock.capcodeAdmin span.name,
span.capcodeAdmin a span.name,
span.capcodeAdmin span.postertrip,
span.capcodeAdmin strong.capcode {
}
span.capcodeFounder span.name,
span.capcodeFounder span.name a,
span.capcodeFounder span.postertrip,
span.capcodeFounder strong.capcode {
}
.nameBlock.capcodeMod span.name,
span.capcodeMod a span.name,
span.capcodeMod span.postertrip,
span.capcodeMod strong.capcode {
}
.nameBlock.capcodeDeveloper span.name,
span.capcodeDeveloper a span.name,
span.capcodeDeveloper span.postertrip,
span.capcodeDeveloper strong.capcode {
}
.nameBlock.capcodeManager span.name,
span.capcodeManager a span.name,
span.capcodeManager span.postertrip,
span.capcodeManager strong.capcode {
}
.nameBlock.capcodeVerified span.name,
span.capcodeVerified span.name a,
span.capcodeVerified span.postertrip,
span.capcodeVerified strong.capcode {
}
#reportTypes a,
.useremail {
}
.omittedposts,
.abbr {
}
span.spoiler {
  color: #000 !important;
}
span.spoiler:hover,
span.spoiler:focus {
}
s,
s a:not(:hover) {
  background: #000 !important;
  color: #000 !important;
}
s:hover,
s:focus,
s:hover a {
}
s:hover a {
  text-decoration: underline;
}
table.exif {
  display: none;
}
table.exif td {
  min-width: 150px;
  color: #707070;
}
table.exif td b {
}
div.posthover {
  padding: 5px;
  padding-left: 10px;
}
div.posthover a.fileThumb {
  margin-left: 5px !important;
}
div.posthover blockquote {
}
div.posthover img[data-md5] {
  max-width: 80px;
  height: auto !important;
  max-height: 80px;
}
div.posthover div.fileThumb {
  margin-left: 0 !important;
}
#navtopright,
#navbotright {
}
.preview {
  border-color: #707070 !important;
  background: #f0e0d6;
}
#settingsBox {
  position: absolute;
  right: 10px;
}
div.backlink {
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: x-small !important;
}
.backlink span {
}
.persistentNav,
div#boardNavMobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 2px solid #d9bfb7;
  background-color: #f0e0d6;
  padding: 2px 4px;
  overflow: hidden;
  font-size: 12px;
}
div#boardNavMobile select,
div#boardNavMobile option {
}
div.boardSelect {
}
div.boardSelect > strong {
}
div.pageJump {
  float: right;
  padding-right: 5px;
}
.pageJump a {
  text-decoration: none;
}
div.qrWindow {
  position: absolute;
}
div.qrHeader {
  padding: 2px;
  font-size: small;
}
div.qrForm {
}
span.qrButtonHolder {
  position: absolute;
  right: 5px;
  text-align: right;
}
span.qrButtonHolder a {
}
span.qrButtonHolder img {
  margin-bottom: -1px;
  cursor: pointer;
}
.extButton img {
  margin-top: 3px;
  margin-bottom: -3px;
}
.qrMessage {
  padding: 2px;
}
.op .backlinkHr {
}
.useremail:not(:hover) .name,
.useremail:not(:hover) .postertrip {
}
.useremail:hover * {
}
img.expandedImg {
  max-width: none !important;
}
.prettyprint {
  display: inline-block;
  border: none !important;
  background-color: var(--text-code);
  padding: 5px !important;
  max-width: 600px;
  max-height: 400px;
  overflow-x: auto;
}
.embed {
  position: absolute;
  width: 0;
  height: 0;
}
table.flashListing td.postblock {
  padding: 5px;
}
table.flashListing td {
  padding: 2px;
}
table.flashListing td:not(.subject) {
}
table.flashListing .name {
  color: #117743;
}
table.flashListing .postertrip {
}
table.flashListing .subject {
  color: #cc1105;
}
table.flashListing tr:nth-of-type(odd) {
}
input[type='text'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  appearance: none;
  border-radius: 0;
}
.countryFlag {
  padding-top: 1px;
}
.deadlink {
}
.oldpost {
  background: inherit;
  color: var(--text-red);
}
#enable-mobile {
}
#disable-mobile {
}
.mFileInfo {
  padding-top: 5px;
  text-align: center;
  color: #707070 !important;
  font-size: 9pt !important;
}
.name-col,
.file-col,
table.flashListing .subject {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ad-plea {
  margin-top: 2px;
  text-align: center;
}
.ad-plea a {
}
.fileText a {
}
#search-box {
  margin-left: 2px;
  padding: 0 2px;
  height: 16px;
  line-height: 16px;
}
#board-list {
  color: var(--text-lpink);
  border: 1px solid #777;
}
#board-list,
#shortcuts {
  background: var(--post-bg);
  border: 0;
}
div#header-bar {
  background: var(--post-bg);
  border-bottom-width: 0.4em;
  border-bottom-color: rgba(211, 160, 181, 0.4);
  border-top-width: 0.45em;
  border-top-color: rgba(211, 160, 181, 0.4);
  padding-top: 5px;
}
#shortcut-menu > div#menu,
#shortcut-menu > div#menu div.dialog.submenu,
div#menu.dialog,
div.dialog.submenu {
  background: var(--post-bg) !important;
  border-radius: 3px !important;
  border-color: var(--border) !important;
  border-width: 2px;
  margin: 3px;
}
.redtxt {
}
#blotter {
  width: 468px;
}
#blotter td {
  vertical-align: top;
}
.blotter-date {
  width: 50px;
}
#blotter tfoot {
  text-align: right;
}
#blotter-msgs s {
  background-color: inherit !important;
  color: inherit !important;
}
hr.abovePostForm {
}
#postForm tr > td > .desktop,
#ctrl-top,
.navLinks.desktop,
.postNum.desktop > span {
}
.open-qr-wrap {
}
.navLinks.desktop > * {
}
div#togglePostFormLink.desktop {
  color: var(--text-lpink);
}
#togglePostFormLink {
  color: transparent;
  font-size: 18px;
  font-weight: 700;
}
#togglePostFormLink a,
.qr-link-container .qr-link {
  /* -webkit-appearance: none; */
  /* appearance: none; */
  color: var(--text-red);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  /* border: 2px solid; */
  /* border-radius: 2px; */
  /* border-color: var(--border); */
  border: 0;
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
  cursor: pointer;
  outline: 0;
}
#togglePostFormLink a {
  border: 0;
}
#togglePostFormLink a:hover,
.qr-link-container .qr-link:hover {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  color: var(--green) !important;
}
.qr-link-container > a.qr-link {
  background: transparent;
  /* border: 2px solid var(--border); */
  /* border-radius: 3px; */
}
.qr-link-container > a.qr-link::before {
  content: '[';
  margin: 1px;
  color: var(--text-lpink);
}
.qr-link-container > a.qr-link::after {
  content: ']';
  margin: 1px;
  color: var(--text-lpink);
}
#postFormError {
  display: none;
  background-color: var(--text-red);
  padding: 3px 5px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  color: #120c20;
  font-family: monospace;
  font-size: 13px;
  font-weight: 700;
}
#postFormError a {
}
#postForm {
  width: 468px;
}
/* 'Original Form' */
#postForm input[type='text'],
#postForm input[type='password'],
#postForm textarea, /* Post form comment box */
#postForm select.flagSelector,
#postForm input#postFile,
table.postForm > tbody textarea,
#recaptcha_response_field {
  color: #e3d1df;
  background-color: var(--post-bg);
  font-size: 15px;
  transition: none 0s ease 0s;
  padding: 2px 4px 3px;
  margin: 0;
  margin-right: 2px;
  outline: none;
  border: 2px solid;
  border-color: var(--border);
  border-radius: 4px;
  font-family: arial, helvetica, sans-serif;
}
#postForm input:focus,
#postForm textarea:focus {
  border: 2px solid;
  border-color: var(--green) !important;
}
table.postForm > tbody > tr > td > input[type='text'] {
}
table.postForm > tbody > tr > td > input[name='subject'] {
}
table.postForm > tbody > tr > td:first-child {
  padding: 5px 5px;
  text-align: center;
  color: inherit;
  font-weight: 700;
  border: 2px solid;
  border-color: var(--border);
  border-radius: 4px;
}
/* post button */
table#postForm > tbody > tr > td > input:nth-child(2) {
  border-radius: 3px !important;
  border: 2px solid var(--border);
  height: 25px;
}
table#postForm div#t-root > button#t-help {
  border-radius: 3px !important;
  border: 2px solid var(--border);
  margin-top: 5px;
  margin-bottom: 5px;
}
table#postForm > tbody > tr > td > input:nth-child(2):hover,
table#postForm div#t-root > button#t-help:hover {
  color: #957fb8;
  font-weight: bold;
  border-radius: 3px !important;
  border-color: var(--green) !important;
  border-width: 2px;
}
/* captcha background on 'Original Form' */
table#postForm > tbody > tr > td > div#t-root {
  /* padding: 2px 4px 3px; */
  /* margin: 2px 0; */
  /* margin-right: 2px; */
  box-sizing: border-box;
  overflow: hidden;
  color: #e3d1df;
  background-color: var(--post-bg);
  transition: none 0s ease 0s;
  outline: none;
  border: 2px solid;
  border-color: var(--border);
  border-radius: 4px;
  font-family: arial, helvetica, sans-serif;
}
/* #t-fg { */
/*   background-color: var(--post-bg); */
/* } */
.fileWebm:hover:before {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0 3px 0 2px;
  line-height: 18px;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  content: 'webm';
}
.expandedWebm {
}
#tooltip {
  position: absolute;
  z-index: 100000;
  background-color: #181f24;
  padding: 3px 6px;
  max-width: 400px;
  line-height: 13px;
  white-space: pre-line;
  word-wrap: break-word;
  color: #fff;
  font-size: 11px;
}
.tip-top-left:before,
.tip-top-right:before,
.tip-top:before {
  display: block;
  position: absolute;
  margin-left: -4px;
  border-top: 4px solid #181f24;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  width: 0;
  height: 0;
  content: '';
}
.tip-top:before {
}
.tip-top-right:before {
  left: 2px;
}
.tip-top-left:before {
}
.boardSelect .customBoardList,
.boardSelect .custom-menu-ctrl {
}
#postFile {
  margin-right: 10px;
}
.dd-menu {
  position: absolute;
  font-size: 12px;
}
.dd-menu a {
  text-decoration: none;
  color: inherit !important;
}
.dd-menu ul {
  margin: 0;
  border: 1px solid;
  border-bottom: 0;
  border-color: #f0f8ffab;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}
.dd-menu ul ul {
  display: none;
}
.dd-menu li {
  position: relative;
  cursor: pointer;
  padding: 2px 4px;
  vertical-align: middle;
}
.dd-menu li:hover {
}
.dd-menu li:hover ul {
  display: block;
  left: 100%;
}
.dd-menu.dd-menu-left li:hover ul {
  left: auto;
}
.blink {
  -webkit-animation: blink 1.5s step-end infinite;
  -moz-animation: blink 1.5s step-end infinite;
  -o-animation: blink 1.5s step-end infinite;
}
@-webkit-keyframes blink {
  50% {
  }
}
@-moz-keyframes blink {
  50% {
  }
}
@-o-keyframes blink {
  50% {
  }
}
@keyframes blink {
  50% {
  }
}
.post.reply.highlight-anti {
}
#quote-preview {
}
div.post div.postInfo span.postNum a:hover,
.posteruid .hand:hover,
.backlink span a.quotelink:hover,
a:hover,
.button:hover,
.dd-menu li:hover,
#arc-list .quotelink:hover,
s .sjis:hover {
  color: var(--border) !important;
  font-weight: bold;
}
.ws div.post div.postInfo span.subject {
}
.nws div.post div.postInfo span.subject {
}
.flashListing .highlightPost,
table.flashListing tr:nth-of-type(2n + 1),
div.pagelist {
  background-color: transparent !important;
}
.panel,
.preview {
}
#skellington {
  position: fixed;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-animation: spookyhover 3s linear;
  -moz-animation: spookyhover 3s linear;
}
.topskel {
  bottom: auto;
  transform: rotate(180deg);
}
div.sideArrows,
hr {
}
@-webkit-keyframes spookyhover {
  from {
  }
  to {
  }
}
@-moz-keyframes spookyhover {
  from {
  }
  to {
  }
}
@keyframes spookyhover {
  from {
  }
  to {
  }
}
#image-hover {
  -webkit-animation: spookyhover 0.2s ease-in;
  -moz-animation: spookyhover 0.2s ease-in;
}
@media (max-width: 480px) {
  .ws .dd-menu ul {
    border: 1px solid #b7c5d9;
    background-color: #d6daf0;
  }
  .ws .dd-menu li {
  }
  .ws .dd-menu li:hover {
  }
  .nws .dd-menu ul {
    border: 1px solid #d9bfb7;
    background-color: #f0e0d6;
  }
  .nws .dd-menu li {
  }
  .nws .dd-menu li:hover {
  }
}
@media (min-width: 481px) {
  .ws div.boardBanner {
  }
  .nws div.boardBanner {
  }
  .quoteLink,
  .quotelink,
  .deadlink,
  a,
  a.visited,
  .button,
  .dd-menu li,
  .backlink span a.quotelink,
  #arc-list .quotelink,
  s .sjis {
    color: #f0f8ffab !important;
  }
  .middlead a img,
  #bannerCnt {
  }
  select {
    border: 1px solid #f0f8ffab;
    background-color: #261e37;
  }
  #qrForm textarea,
  .extPanel input[type='text'],
  .extPanel textarea {
  }
  .extPanel {
  }
  table.postForm > tbody > tr > td:first-child {
    background-color: #261e37;
    padding: 0 5px;
    color: inherit;
    font-size: 10pt;
    font-weight: 700;
  }
  .dd-menu ul {
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder,
  input::placeholder,
  textarea::placeholder,
  #quickReply #qrForm input::-moz-placeholder,
  #quickReply #qrForm input::placeholder,
  #quickReply #qrForm textarea::-moz-placeholder,
  #quickReply #qrForm textarea::placeholder {
    color: #8f95b3 !important;
    font-weight: bold;
  }
  input[type='text']:focus,
  input[type='password']:focus,
  input:not([type]):focus,
  textarea:focus,
  .extPanel #qrForm textarea:focus {
  }
  #quickReply textarea {
  }
  input[type='checkbox'] {
  }
  input[type='text'],
  input[type='password'],
  table.postForm > tbody textarea,
  #recaptcha_response_field {
    background-color: var(--post-bg);
    font-size: 15px;
    transition: none 0s ease 0s;
    border: 1px solid;
    border-color: #a0936a;
    color: #c3c3c3;
  }
  #postForm input:focus {
    border: 2px solid;
    border-color: var(--green) !important;
  }
  a.replylink:not(:hover) {
    color: var(--text-link) !important;
  }
  .postblock {
  }
}

/* ╭──────────────────────────────────────────────────────────╮
   │                          Slider                          │
   ╰──────────────────────────────────────────────────────────╯ */
input[type='range']::-moz-range-progress {
  background-color: var(--text-body);
}
input[type='range']::-moz-range-track {
  background-color: var(--post-bg);
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: var(--post-bg);
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: var(--post-bg);
    margin-top: -1px;
    border-radius: 3px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: pointer;
    background: var(--text-lpink);
    /* box-shadow: -80px 0 0 80px var(--green); */
  }
}
#postForm input#t-slider {
  border-radius: 3px;
  margin-top: 3px;
}
#postForm input#t-slider:focus {
  border-radius: 3px;
  border-color: var(--text-lpink);
  margin-top: 3px;
}

/* ╭──────────────────────────────────────────────────────────╮
   │                        Scrollbar                         │
   ╰──────────────────────────────────────────────────────────╯ */
html[hide-scrollbar='true'] ::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  background: var(--post-bg);
  width: 10px;
  height: 10px;
}

#guide-inner-content.ytd-app::-webkit-scrollbar,
#guide-inner-content.ytd-app::-webkit-scrollbar-corner {
  background: var(--post-bg);
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button,
#guide-inner-content.ytd-app::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb,
#guide-inner-content.ytd-app::-webkit-scrollbar-thumb {
  background: #783a65;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:not(:active):hover,
#guide-inner-content.ytd-app::-webkit-scrollbar-thumb:not(:active):hover {
  background: #91467a;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover:active,
#guide-inner-content.ytd-app::-webkit-scrollbar-thumb:active,
#guide-inner-content.ytd-app::-webkit-scrollbar-thumb:hover:active {
  background: #783a65;
}
