# (can be 0 or 1) if set, shows a notification on startup if a new version of sioyek is available
check_for_updates_on_startup	1

# Showing full white text on black background can be irritating for the eye, we can dim the whites a little bit using the contrast option
dark_mode_contrast			0.6

# Urls to use when executing external_search commands
search_url_p    https://pubmed.ncbi.nlm.nih.gov/?sort=date&size=100&term=

# Which search url to choose when middle clicking or shift middle clicking on text (the values are the letters of corresponding search_url_* )
# for example if i set `middle_click_search_engine	s`, then we use the url associated with `search_url_s` to handle middle click searches
middle_click_search_engine			p

# If the last opened document is empty, load the tutorial pdf instead
should_load_tutorial_when_no_other_file	0

## Path to shared.db database file. If not set, we use the default path.
## you can set this to be a file in a synced folder (e.g. dropbox folder) to automatically sync
## sioyek across multiple computers
shared_database_path    /Users/zhihuai1982/Documents/Miscellaneous/sioyek/shared.db

## Touchpad sensitivity
touchpad_sensitivity 0.3

# How many inches we move vertically/horizontally when performing move_* commands
horizontal_move_amount    5

# The color with which the screen is cleared before rendering the pdf
background_color    1.0 1.0 1.0
dark_mode_background_color    0.0 0.0 0.0

# Application colors background color and text color.
custom_background_color  0.01 0.01 0.01
# custom_text_color        0.3 0.5 0.1
custom_text_color        0.086 0.5 0.25

# Commands that run at startup.
# startup_commands      toggle_visual_scroll

# Highlight color when text is selected using mouse
text_highlight_color    1.0 1.0 0.0

# The color of highlight bar which is displayed when right click is pressed
vertical_line_color    0.0 0.0 0.0 0.4

# Use dark mode by default
# default_dark_mode	1

/* ruler_mode 1 - In visual atention mode it only shows one line */
/* https://github.com/ahrm/sioyek/issues/178 */
ruler_mode 1

/* Enable Zoom in and out with Ctrl + Mouse wheel at the pointer position. */
wheel_zoom_on_cursor 1

/* if it is 0, then we use the previous instance of sioyek when launching a new file. */
/* otherwise a new instance is launched every time we open a new file. */
should_launch_new_instance    0
