---
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language: Cpp

# RemoveBracesLLVM: false # Remove optional braces
# InsertBraces: false     # Conflicts with AllowShortIfStatementsOnASingleLine

RemoveBracesLLVM: false
InsertBraces: false

# RemoveBracesLLVM: true
# InsertBraces: false

AccessModifierOffset: -2
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: # Aligns assignment operators
  Enabled: true # false
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: # Aligns variable names
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveMacros:
  Enabled: true # false
  AcrossEmptyLines: false
  AcrossComments: true
AlignEscapedNewlines: Left
AlignOperands: Align # false AlignAfterOperator
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
# AllowAllConstructorInitializersOnNextLine: false # PackConstructorInitializers [[deprecated]]
# AlignConsecutiveShortCaseStatements
AllowShortBlocksOnASingleLine: Empty # false Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty # Empty, All
AllowShortIfStatementsOnASingleLine: WithoutElse # WithoutElse, Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
# AlwaysBreakAfterDefinitionReturnType: true [[deprecated]]
AlwaysBreakAfterReturnType: AllDefinitions # All
AlwaysBreakBeforeMultilineStrings: true # false
AlwaysBreakTemplateDeclarations: true
AttributeMacros: ['__capability', '__output', '__ununsed']
# NOTE: Messes up struct without trailing comma
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: Both
# CLANG16
# BreakAfterAttributes: Always
BreakAfterJavaFieldAnnotations: true
# CLANG16
# BreakBeforeInlineASMColon: OnlyMultiline

BreakBeforeBinaryOperators: All # NonAssignment

BreakBeforeBraces: Attach
# BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: MultiLine # Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false # true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeConceptDeclarations: Always
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakConstructorInitializersBeforeComma: false
BreakInheritanceList: AfterColon
BreakStringLiterals: false # true, false
CommentPragmas: '^([#!]| IWYU pragma:)' # //# or //!
CompactNamespaces: false
# ConstructorInitializerAllOnOneLineOrOnePerLine: true # PackConstructorInitializers [[deprecated]]
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
EmptyLineBeforeAccessModifier: Always
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true
ForEachMacros: ['RANGES_FOR', 'FOREACH', 'Q_FOREACH', 'foreach', 'each']
IfMacros: ['IF', 'IFNULL', 'IFNIL']
IncludeBlocks: Regroup
IncludeCategories:
  # Current project headers
  - Regex: '"([A-Za-z0-9.\/-_])+"'
    Priority: 1
  # 3rd party headers with extension
  - Regex: '<armnn.*>'
    Priority: 2
  - Regex: '^((<|")(gtest|gmock|isl|json)/)'
    Priority: 3
    SortPriority: 0
    CaseSensitive: false
  # C system headers with extension
  - Regex: '<([A-Za-z0-9.\/-_])+\.h>'
    Priority: 4
  - Regex: '^<ext/.*\.h>'
    Priority: 5
    SortPriority: 0
    CaseSensitive: false
  # C++ standard library headers without extension
  - Regex: '<([A-Za-z0-9\/-_])+>'
    Priority: 6

  # - Regex: '^<ext/.*\.h>'
  #   Priority: 2
  #   SortPriority: 0
  #   CaseSensitive: false
  # - Regex: '^<.*\.h>'
  #   Priority: 1
  #   SortPriority: 0
  #   CaseSensitive: false
  # - Regex: '^<.*'
  #   Priority: 2
  #   SortPriority: 0
  #   CaseSensitive: false
  # - Regex: '.*'
  #   Priority: 3
  #   SortPriority: 0
  #   CaseSensitive: false
IncludeIsMainRegex: '([-_](test|unittest))?$'
# IndentAccessModifiers: true # false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: Indent
IndentGotoLabels: true
# IndentPPDirectives: AfterHash
IndentPPDirectives: BeforeHash
IndentRequiresClause: true
IndentWidth: 4
IndentWrappedFunctionNames: false
InsertTrailingCommas: Wrapped
# IntegerLiteralSeparator:
#   Binary: 4
#   Decimal: 3
#   Hex: -1
JavaScriptQuotes: Double
JavaScriptWrapImports: true
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: Signature
MacroBlockBegin: ''
MacroBlockEnd:   ''
# Macros: []
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All # Inner
# NamespaceMacros: []
PPIndentWidth: -1
PackConstructorInitializers: CurrentLine
PointerAlignment: Left # Right
QualifierAlignment: Left # Custom
# QualifierOrder: ['inline', 'volatile', 'restrict', 'static', 'constexpr', 'const', 'type']
RawStringFormats:
  - Language: Cpp
    Delimiters:
      - cc
      - CC
      - cpp
      - Cpp
      - CPP
      - 'c++'
      - 'C++'
    CanonicalDelimiter: ''
  - Language: TextProto
    Delimiters:
      - pb
      - PB
      - proto
      - PROTO
    EnclosingFunctions:
      - EqualsProto
      - EquivToProto
      - PARSE_PARTIAL_TEXT_PROTO
      - PARSE_TEST_PROTO
      - PARSE_TEXT_PROTO
      - ParseTextOrDie
      - ParseTextProtoOrDie
    CanonicalDelimiter: ''
    BasedOnStyle: google
ReferenceAlignment: Right
ReflowComments: true
# CLANG16
# RemoveSemicolon: true
RequiresClausePosition: OwnLine # WithPreceding
# CLANG16
# RequiresExpressionIndentation: OuterScope
# SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SortIncludes: true
SortJavaStaticImport: After
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
# SpaceAroundPointerQualifiers: Left
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: ControlStatementsExceptControlMacros # ControlStatements
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: c++20 # c++11
# StatementAttributeLikeMacros: []
StatementMacros: ['Q_UNUSED', 'QT_REQUIRE_VERSION']
# TypenameMacros: []
# WhitespaceSensitiveMacros: []
TabWidth: 4
UseTab: Never

ColumnLimit: 80 # 100

# PenaltyBreakAssignment: 0
# PenaltyBreakBeforeFirstCallParameter: 10
# # PenaltyBreakComment: 100
# PenaltyBreakFirstLessLess: 10
# PenaltyBreakOpenParenthesis: 10
# # PenaltyBreakString: 100
# # PenaltyIndentedWhitespace: 10
# PenaltyExcessCharacter: 10
# PenaltyReturnTypeOnItsOwnLine: 10

---
Language: Java
BreakAfterJavaFieldAnnotations: true

# ---
# Language: Json
# BreakArrays: true

---
Language: JavaScript

InsertBraces: true
AccessModifierOffset: -2
AlignArrayOfStructures: Right

# AlignConsecutiveAssignments: # Aligns assignment operators
#   Enabled: false # false
#   AcrossEmptyLines: false
#   AcrossComments: true
#   AlignCompound: true
#   PadOperators: true
# AlignConsecutiveDeclarations: # Aligns variable names
#   Enabled: false
#   AcrossEmptyLines: false
#   AcrossComments: true

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignEscapedNewlines: Left
AlignOperands: Align # false
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty # false Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty # Empty, All
AllowShortIfStatementsOnASingleLine: WithoutElse # WithoutElse, Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: true
AlwaysBreakAfterReturnType: AllDefinitions # All
AlwaysBreakBeforeMultilineStrings: true # false
AlwaysBreakTemplateDeclarations: true
BitFieldColonSpacing: After
# AttributeMacros: ['__capability', '__output', '__ununsed']
BinPackArguments: false
BinPackParameters: false
BreakAfterJavaFieldAnnotations: true
BreakBeforeBinaryOperators: NonAssignment # NonAssignment, All
BreakBeforeBraces: Attach
BreakBeforeConceptDeclarations: Always
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: AfterColon
BreakBeforeInheritanceComma: false
BreakInheritanceList: AfterColon
BreakStringLiterals: false # true, false
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
EmptyLineBeforeAccessModifier: Always
ExperimentalAutoDetectBinPacking: true
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<React'
    Priority: 4
  - Regex: '^<[.a-z]+>'
    Priority: 2
  - Regex: '^<'
    Priority: 3
  - Regex: '.\*'
    Priority: 10
#
# IncludeIsMainRegex: '([-_](test|unittest))?$'
# IndentAccessModifiers: true # false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: Indent
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentRequiresClause: true
IndentWidth: 4
IndentWrappedFunctionNames: false
InsertTrailingCommas: None
# # IntegerLiteralSeparator:
# #   Binary: 4
# #   Decimal: 3
# #   Hex: -1
JavaScriptQuotes: Double
JavaScriptWrapImports: true
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: Signature
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All # Inner
ObjCBinPackProtocolList: Never
ObjCBlockIndentWidth: 2
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: false
PackConstructorInitializers: CurrentLine
QualifierAlignment: Left # Custom
RawStringFormats:
  - Language: JavaScript
    Delimiters:
      - js
      - Js
      - JS
      - ts
      - Ts
      - TS
      - javascript
      - Javascript
      - JavaScript
      - typescript
      - Typescript
      - TypeScript
    CanonicalDelimiter: ''
  - Language: TextProto
    Delimiters:
      - pb
      - PB
      - proto
      - PROTO
    EnclosingFunctions:
      - EqualsProto
      - EquivToProto
      - PARSE_PARTIAL_TEXT_PROTO
      - PARSE_TEST_PROTO
      - PARSE_TEXT_PROTO
      - ParseTextOrDie
      - ParseTextProtoOrDie
    CanonicalDelimiter: ''
    BasedOnStyle: google
# ReferenceAlignment: Right
ReflowComments: true
# RemoveSemicolon: true
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SortIncludes: true
SortJavaStaticImport: After
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

ColumnLimit: 80 # 100
