[Desktop Entry]
Name=Alacritty
GenericName=Alacritty (mine)
Comment=Terminal Emulator
Keywords=terminal
Exec=alacritty
TryExec=alacritty
# Terminal=true
Terminal=false
Type=Application
Icon=alacritty
StartupWMClass=Alacritty
Actions=New;
Categories=System;TerminalEmulator;

[Desktop Action New]
Name=New Terminal
Exec=alacritty
