[Desktop Entry]
Name=AutoKey
GenericName=Keyboard Automation
Comment=Program keyboard shortcuts
Exec=autokey-gtk -c
Terminal=false
Type=Application
Icon=autokey
Categories=GNOME;GTK;Utility;
