[Desktop Entry]
Type=Application
Name=lf
# GenericName
Comment=Terminal File Manager
Keywords=text editor
# Exec=/usr/bin/alacritty -e lf %u
Exec=lf %u
Terminal=true
# Icon=file-manager
Icon=utilties-terminal
Categories=ConsoleOnly;System;FileTools;FileManager;TextTools;TextEditor;Viewer;
# MimeType=
MimeType=inode/directory;
