[Desktop Entry]
Type=Application
Name=Neomutt mail
Comment=Terminal mail interface
Keywords=Mail;TUI;
Icon=mutt
MimeType=x-scheme-handler/mailto;x-scheme-handler/mid;message/rfc822;
Categories=Email;ConsoleOnly;

# Exec=/usr/bin/neomutt %u
# Terminal=true

Terminal=false
Exec=alacritty --title Neomutt --class floating --option window.dimensions.columns=170 --option window.dimensions.lines=55 --command neomutt %u
